<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.project.prjdb.book.map.BookMapper">
	<select id="bookSelectList" resultType="co.project.prjdb.book.service.BookVO">
		SELECT * FROM BOOK
	</select>
	<select id="bookSelect" resultType="co.project.prjdb.book.service.BookVO">
		SELECT * FROM BOOK WHERE BOOK_CODE = #{bookCode}
	</select>
	<insert id="bookInsert" parameterType="co.project.prjdb.book.service.BookVO">
		INSERT INTO BOOK
		VALUES (#{bookCode},#{bookName},#{bookWriter},#{bookPublisher},#{bookPrice})
	</insert>
	<delete id="bookDelete" parameterType="co.project.prjdb.book.service.BookVO">
		DELETE FROM BOOK
		WHERE BOOK_CODE = #{bookCode}
	</delete>
</mapper>