<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.micol.project.member.map.MemberMapper">
	<select id="memberSelect">
		SELECT * FROM MEMBER WHERE MEMBER_ID = #{memberId}
		<if test="memberPassword != null">
			AND MEMBER_PASSWORD = #{memberPassword}
		</if>
	</select>
</mapper>